html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
        link(rel="stylesheet" href="/css/main.css")
    body
        .home.dog-app
            header.app-header
                .logo
                    img.logo__icon(src="/img/home-icon.png")
                    span.logo__text shelter for dogs
                nav.app-nav
                    ul.app-nav__list
                        li.app-nav__list-item
                            a.app-nav__link.app-nav__link--is-active(href="#") home
                        li.app-nav__list-item
                            a.app-nav__link(href="#") adopt a dog
                        li.app-nav__list-item
                            a.app-nav__link(href="#")  contact
            .wrapper
                section.slogan
                    h1.slogan__header
                        | Be a hero. Adopt a dog.
                    p.slogan__text
                        | Do you know how many dogs are homeless? All of them need care and attention, and all of them want to live in a happy and warm home. You could save their life. Be a hero.
                    .actions
                        button.btn.btn--primary(@click="formLightbox = true") Adopt a dog
                        button.btn.btn--shadow Donate us
                footer.app-footer
                    | Design by Joanna Ostafin @ProjectPeople.pl
            .lightbox(v-show="formLightbox == true" style="display: none;")
                .lightbox__content
                    h2.lightbox__header Adopt a dog, hero
                    form.lightbox__form(action="/applications" method="POST")
                        .lightbox__form-control
                            label.lightbox__label What's your name?
                            input.lightbox__input(placeholder="John Doe" type="text" name="name")
                        .lightbox__form-control
                            label.lightbox__label What's your phone number?
                            input.lightbox__input(placeholder="+ 48 555 000 000" type="text" name="phone")
                        .lightbox__form-control
                            label.lightbox__label Leave a message
                            textarea.lightbox__input(placeholder="Please feel free to ask us anything" rows="3" name="message")
                        .lightbox__actions
                            button.btn.btn--primary Adopt a dog


        script(src="https://cdn.jsdelivr.net/npm/vue" type="text/javascript")
        script(src="/js/app.js")